/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc*
/.psa*
/build/
/dist/icons
/dist/index.js
/dist/index.map
/.cache
config.ini
get-icons.js
index.js
generate-css.js
out.js.gz
npm-debug.log
